<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="./images/icon.png">
    <title>Spendia: Expense Tracking Dashboard</title>
    <link rel="stylesheet" href="/views/categories.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
   <div id="container">
        <div id="navBar">
            <div id="navBarHeader">

            </div>
            <div id="personalInfo">
                <img src=<%= userData.profilePic %> alt="User Image">
                <p><%= userData.firstName %> <%= userData.lastName %></p>
            </div>
            <div id="general-extras">
                <p>GENERAL</p>
                <div id="general">
                    <button id="dashboard">Dashboard</button>
                    <a href="#" id="categories">Categories</a>
                    <button id="expenses">Expenses</button>
                </div>
                <p>EXTRAS</p>
                <div id="extras">
                    <button id="settings">Settings</button>
                    <button id="help">Help</button>
                </div>
            </div>
        </div>
        <div id="mainSection">
            <div id="mainSectionHeader">
                <h1>Manage categories</h1>
            </div>
            <div id="buttons">
                <button id="addCategory">Add category</button>
     <!--           <button id="editCategory">Edit category</button> -->
            </div>
            <!-- This modal will be displayed when there aren't any categories -->
            <div id="emptyList">
                <img src="/views/images/add.png">
                <h1>Start adding categories to see them displayed here</h1>
            </div>
             <!-- This modal will be displayed when there are existing categories -->
            <div id="categoriesList">
                <ul id="list"></ul>    
            </div>
            <!-- This modal will be displayed when creating a category -->
            <div id="addCategoryModal">
                <div id="categoryDiv">
                <label>New category name</label>
                <input id="categoryName"  placeholder="Example: Education, Healthcare, Groceries...">
                </div>
                <div id="transactionDiv">
                <label>Type of transaction</label>
                <select id="categoriesSelect" name="categories">
                    <option value="Expense">Expense</option>
                    <option value="Income">Income</option>
                </select>
                </div>
                <div id="colorDiv">
                <label>Select a color:</label>
                <select id="colors" name="colors">
                    <option value="Red">Red</option>
                    <option value="Orange">Orange</option>
                    <option value="Yellow">Yellow</option>
                    <option value="Blue">Blue</option>
                    <option value="lightBlue">Light Blue</option>
                    <option value="green">Green</option>
                    <option value="Purple">Purple</option>
                </select>
                </div>
                <div>
                    <button id="saveCategory">Save category</button>
                </div>
                <div>
                    <button id="closeAddModal">Cancel</button>
                </div>
            </div>
            <!-- This modal will be displayed when editing a category -->
            <div id="editCategoryModal">
                <div id="categoryDiv">
                    <label>New category name</label>
                    <input id="editCategoryName"  placeholder="Example: Education, Healthcare, Groceries...">
                </div>
                <div id="transactionDiv">
                    <label>Type of transaction</label>
                    <select id="editCategoriesSelect" name="categories">
                        <option value="Expense">Expense</option>
                        <option value="Income">Income</option>
                    </select>
                </div>
                <div id="colorDiv">
                    <label>Select a color:</label>
                    <select id="editColors" name="colors">
                        <option value="Red">Red</option>
                        <option value="Orange">Orange</option>
                        <option value="Yellow">Yellow</option>
                        <option value="Blue">Blue</option>
                        <option value="lightBlue">Light Blue</option>
                        <option value="green">Green</option>
                        <option value="Purple">Purple</option>
                    </select>
                </div>
                <div>
                    <button id="editCategory">Edit category</button>
                </div>
                <div>
                    <button id="closeEditModal">Cancel</button>
                </div>
            </div>
        </div>
   </div>
   <p id="username"><%= userData.username %></p>
   <script src="/views/categories.js"></script>
</body>
</html>