<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="./images/icon.png">
    <title>Spendia: Expense Tracking Dashboard</title>
    <link rel="stylesheet" href="/views/expenses.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
   <div id="container">
        <div id="navBar">
            <div id="navBarHeader">

            </div>
            <div id="personalInfo">
                <img src=<%= userData.profilePic %> alt="User Image">
                <p><%= userData.firstName %> <%= userData.lastName %></p>
            </div>
            <div id="general-extras">
                <p>GENERAL</p>
                <div id="general">
                    <button id="dashboard">Dashboard</button>
                    <button id="categories">Categories</button>
                    <a href="#" id="expenses">Expenses</a>
                </div>
                <p>EXTRAS</p>
                <div id="extras">
                    <button id="settings">Settings</button>
                    <button id="help">Help</button>
                </div>
            </div>
        </div>
        <div id="mainSection">
            <div id="mainSectionHeader">
                <h1>Manage transactions</h1>
            </div>
            <div id="buttons">
                <button id="addTransaction">Add transaction</button>
            </div>
            <div id="emptyList">
                <img src="/views/images/add.png">
                <h1>Start adding expenses to see them displayed here</h1>
            </div>
            <div id="transactionList">
                <ul id="list"></ul>    
            </div>
            <div id="addTransactionModal">
                <div id="transactionName">
                    <label>New transaction name</label>
                    <input id="transactionNamee"  placeholder="Example: Wendy's burger, KO Dividends, LEGO bricks...">
                </div>
                <div id="transactionCategory">
                    <label>Transaction category</label>
                    <select id="categoriesSelect" name="categories">
                       <!-- Here the categories from the DB will be inserted -->
                    </select>
                </div>
                <div id="amount">
                    <label>Transaction amount</label>
                    <input id="transactionAmount" placeholder="$" oninput="this.value = this.value.replace(/[^0-9]/g, '');"></input>
                </div>
                <div>
                    <button id="saveTransaction">Save transaction</button>
                </div>
                <div>
                    <button id="closeAddModal">Cancel</button>
                </div>
            </div>
            <div id="editTransactionModal">
                <div id="transactionName">
                    <label>Edit transaction name</label>
                    <input id="editTransactionNamee"  placeholder="Example: Wendy's burger, KO Dividends, LEGO bricks...">
                </div>
                <div id="transactionCategory">
                    <label>Transaction category</label>
                    <select id="editCategoriesSelect" name="categories">
                       <!-- Here the categories from the DB will be inserted -->
                    </select>
                </div>
                <div id="amount">
                    <label>Transaction amount</label>
                    <input id="editTransactionAmount" placeholder="$" oninput="this.value = this.value.replace(/[^0-9]/g, '');"></input>
                </div>
                <div>
                    <button id="editTransaction">Edit transaction</button>
                </div>
                <div>
                    <button id="closeEditModal">Cancel</button>
                </div>
            </div>
        </div>
   </div>
   <p id="username"><%= userData.username %></p>
   <p id="oldTransactionName"></p>
   <script src="/views/expenses.js"></script>
</body>
</html>