body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: #474747;
}

#container{ /* Contains the three thirds of the dashboard*/
    margin: 0;
    padding: 0;
    display: flex;
}

/* Navigation bar (left) */

#navBar{
    width: 17vw;
    border: 2px solid rgb(219, 219, 219);
}

#navBarHeader{
    width: 100%;
    height: 12vh;
}

#personalInfo{
    width: 100%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
}

#personalInfo img{
    margin-top: 20px;
    width: 150px;
    height: auto;
    border-radius: 99px;
}

#general-extras{
    width: 100%;
    height: 75vh;
}

#general-extras div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#general-extras p{
    margin-top: 30px;
    margin-left: 75px;
    font-size: 15px;
}

#general-extras button, #general-extras a{
    margin: 10px 0;
    font-size: 20px;
    text-decoration: none;
}

#general-extras button:hover{
    cursor: pointer;
    color: rgb(62, 139, 255);
    transition: 0.4s;
}

#settings{
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(62, 139, 255); 
    border: 0;
    border-radius: 10px;
    font-weight: 600;
    color: white;
}

#categories, #expenses, #help, #dashboard{
    background-color: #FCFCFC;
    border: 0;
    outline: 0;
    font-weight: 600;
    font-size: 20px;
    color: #474747;
}

#categories{
    margin-top: 10px;
}

/* Main section (middle) */

#mainSection{
    width: 83vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FCFCFC; 
}

#mainSectionHeader{
    padding-left: 60px;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    font-size: 14px;
}

#content{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: row;
}

input{
    width: 20vw;
    height: 5vh;
    border: 0px;
    border-bottom: 2px solid #474747;
    background-color: #FCFCFC;
    text-indent: 10px;
}

input:focus{
    outline: 0px;
    border-bottom: 2px solid rgba(13,153,255,0.7);
    font-size: 20px;
    transition: 0.3s;
}

#names, #passwordAndUsername{
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#saveChanges{
    margin-top: 40px;
    width: 85%;
    height: 7vh;
    background-color: rgba(13,153,255,0.7);
    border: 2px solid rgba(13,153,255,0.9);
    border-radius: 10px;
    font-weight: 600;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    color: white;
}

#saveChanges:hover{
    cursor: pointer;
    transition: 0.3s;
    background-color: rgba(13,153,255,0.9);
}

#firstHalf{
    width: 70%;
}

#secondHalf{
    width: 30%;
}

#upload{
    margin-top: 20px;
    background-color: #FCFCFC;
    border: 0;
    color: rgba(13,153,255,0.9);
}

#upload:hover{
    cursor: pointer;
}

#firstHalf, #secondHalf{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputs{
    display: flex;
    flex-direction: column;
}

#showcaseImage{
    border-radius: 99%;
    width: 250px;
    height: 250px;
}

#url{
    margin-top: 20px;
    width: 10vw;
    font-size: 10px;
    text-align: center;
}

#url:focus{
    outline: 0px;
    border-bottom: 2px solid rgba(13,153,255,0.7);
    transition: 0.3s;
}

.error-message{
    margin:0px;
    font-size: 10px;
    color: red;
}

/* Responsive Design & Media Queries */